<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7 ie6" lang="es"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie10 lt-ie9 lt-ie8 ie7" lang="es"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie10 lt-ie9 ie8" lang="es"> <![endif]-->
<!--[if IE 9]>    <html class="no-js lt-ie10 ie9" lang="es"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="es"> <!--<![endif]-->
<head>
	<title><%= title %></title>

	<!-- //3// -->
	<link rel='stylesheet' href='<%=createStaticLink('/stylesheets/chico-0.13.4.css')%>'/>
	<link rel='stylesheet' href='<%=createStaticLink('/stylesheets/font-awesome.css')%>'/>
	<link rel='stylesheet' href='<%=createStaticLink('/stylesheets/app.css')%>' />

		
	<!--	
	<link rel='stylesheet' href='<%=createStaticLink('/stylesheets/chico-min-0.13.4.css')%>'/>
	<link rel='stylesheet' href='<%=createStaticLink('/stylesheets/app-min.css')%>' />
	<link rel='stylesheet' href='<%=createStaticLink('/stylesheets/font-awesome/css/font-awesome.min.css')%>' />
	-->

	<!--
	<link rel='stylesheet' href='<%=createStaticLink('/stylesheets/chico-app-min.css')%>' />
	<link rel='stylesheet' href='<%=createStaticLink('/stylesheets/font-awesome/css/font-awesome.min.css')%>' />
	-->

	<script src='<%=createStaticLink('/javascripts/jquery-1.10.2.js')%>' ></script>
	<script src='<%=createStaticLink('/javascripts/jquery.lazyload.js')%>' ></script>
	<script src='<%=createStaticLink('/javascripts/app.js')%>' ></script>

	<!--
	<script src='<%=createStaticLink('/javascripts/jquery-1.10.2.min.js')%>' ></script>
	<script src='<%=createStaticLink('/javascripts/jquery.lazyload.min.js')%>' ></script>
	<script src='<%=createStaticLink('/javascripts/app.min.js')%>' ></script>
	-->

	<!--	
	<script src='<%=createStaticLink('/javascripts/all.js')%>' ></script>
	-->
</head>
<body>
	  
	<header>
		<h1><%= title %></h1>
	</header>

	<div class="wraperBody">
		<section class="performance-pannel">
			<h4>Time to first byte</h4>
			<p id="timerTtfb">0 ms</p>
			<h4>DOMContentLoaded</h4>
			<p id="timerDomLoaded">0 ms</p>
			<h4>Onload</h4>
			<p id="timerOnloaded">0 ms</p>
			<h4>Fully Loaded</h4>
			<p id="timerTotal">0 ms</p>
		</section>
		
		<section id="server">

			<h2 class="definicion">Configurando el server</h2>
			<article>
				<h3>Activar GZIP</h3>
	  			<p>
	  				Es un tipo de <strong>compresión HTTP</strong>, que nos permite reducir el ancho de banda y las velocidades de respuesta.<br>
	  				Cuando tengamos gzip activado, el server responderá <strong>Content-encoding: gzip</strong> en el header de respuesta.
	  			</p>
			</article>
			<article>
				<h3>Cache de recursos estáticos</h3>
	  			<p>
	  				Reducimos el pedido de recursos, que son modificados con poca frecuencia. Estos recursos serán <strong>guardados en el browser o el proxy</strong>.
	  				Deberíamos cachear CSS, JS, HTML estático, Imágenes, Flash?, PDF, Media Files. 
	  			</p>
			</article>
			<article>
				<h3>Unificar y minificar archivos estáticos</h3>
	  			<p>
	  				Unificando los archivos vamos a <strong>reducir la cantidad de request</strong> que estamos enviando. Minificando los archivos <strong>reducimos la cantidad de bytes</strong> que enviamos a treves de la red, permitiendonos acelerar los tiempos de descarga.
	  			</p>
			</article>
			<article>
				<h3>Cookieless domain</h3>
	  			<p>
	  				Para el contenido estático debemos evitar que los recursos sean servidos por el mismo dominio en el cual seteamos nuestras cookies. <strong>Las imágenes, CSS y JS no necesitan ser acompañados por cookies</strong>.
	  			</p>
			</article>
			<article>
				<h3>Descargas en paralelo</h3>
	  			<p>
	  				Utilizar múltiples dominios para la descarga de recursos, nos permite <strong>acelerar los tiempos de respuesta</strong> de nuestra aplicación. La utilizaremos principalmente para la descarga de imágenes en paralelo. 
	  			</p>
			</article>
		</section>

		<section id="images">
			<h2 class="definicion">Imágenes</h2>

			
			<article class="imageWrapper">
				<h3>Optimización PNG</h3>
				<p>Comprimiendo nuestros PNG24 podemos reducir el peso entre un 80% y 95%. <a href="http://www.smushit.com/ysmush.it/" target="_blank">Smush.it</a>, <a href="http://tinypng.org/" target="_blank">Tinypng</a>, <a href="https://github.com/gruntjs/grunt-contrib-imagemin" target="_blank">Grunt Plugin</a></p>

				<!-- //6// -->
	  			<p><img src="<%=createImageLink('/images/products.png')%>" /></p>

			</article>
			<article >
				<h3 class="definicion">Sprites</h3>
				<p>Es una imagen formada por varias imágenes pequeñas, cada imagen se muestra como un segmento del sprite. Permite ahorra multiples request a imágenes. <a href="http://pixlr.com/editor/" target="_blank">Photoshop online</a></p>
				
				<!-- //9// -->
				<p>
					<img src="<%=createImageLink('/images/no-sprite-1.png')%>">
					<img src="<%=createImageLink('/images/no-sprite-2.png')%>">
					<img src="<%=createImageLink('/images/no-sprite-3.png')%>">
					<img src="<%=createImageLink('/images/no-sprite-4.png')%>">
				</p>

			</article>
			<article>
				<h3 class="definicion">Data:Uri</h3>
				<p>Embebiendo la metadata de una imágen en base64, podemos evitar el llamado de la misma. Es una buena opción cuando tenemos imágenes menores a 1kb. <a href="http://webcodertools.com/imagetobase64converter/Create">Online convert</a></p>

				<!-- //7// -->
				<p><img src="<%=createImageLink('/images/datauri.png')%>" /></p>

			</article>
			<article>
				<h3 class="definicion">Icon Fonts</h3>
				<p>Imágenes vectoriales embebidas en fuentes, que nos permiten cambiarle el color, tamaño, estilos y aplicarle efectos. Reducimos la cantidad de request y podemos utiliarlas en distintinas densidades de pantalla. <a href="http://fortawesome.github.io/Font-Awesome/" target="_blank">Font Awesome</a>, <a href="http://icomoon.io/" target="_blank">Icon Moon</a>, <a href="http://pictos.cc/font/" target="_blank">Pictos</a>, <a href="http://fontello.com/" target="_blank">Fontello</a></p>
			</article>
			<article>
				<ul class="small-image-list" >
					<li><i class="icon-rocket icon-2x"></i>&nbsp;Default</li>
					<li><i class="icon-rocket icon-3x"></i>&nbsp;3X size</li>
					<li><i class="icon-rocket icon-2x icon-rotate-90"></i>&nbsp;Rotate 90</li>
					<li><i class="icon-rocket icon-2x icon-flip-horizontal"></i>&nbsp;Flips</li>
					<li>
						<span class="icon-stack">
						  <i class="icon-rocket"></i>
						  <i class="icon-ban-circle icon-stack-base"></i>
						</span>&nbsp;Icon Stack
					</li>
				</ul>
			</article>
			<article class="imageWrapper">
				<h3>Progressive JPEG</h3>
				<p>Es un tipo de codificación del formato JPG. A diferencia del tipo baseline, en donde la imágen se carga de de arriba hacia abajo en un uníco barrido, con JPG Progresivo la imágen se va cargando por capas mejorando la calidad una tras otra. <a href="http://jpegclub.org/jpegtran/">Jpegtran</a>, <a href="http://www.phpied.com/installing-jpegtran-mac-unix-linux/" target="_blank">Install Jpegtran</a></p>

				<p>Ejemplos: <a href="<%=createImageLink('/images/jpeg.jpg')%>">Baseline</a>, <a href="<%=createImageLink('/images/jpeg-progressive.jpg')%>">Progressive</a>
				</p>

				<!-- //11// -->
				<p><img width="870" src="<%=createImageLink('/images/jpeg.jpg')%>" ></p>
			
			</article>
			<article class="imageWrapper">

				<h3>WEBP</h3>
				<p>Es un nuevo formato de imágen desarrollado por Google. Como grandes ventajas pesa un 26% menos comparado con un PNG, y entre un 25-34% menos que un JPEG. <a href="https://developers.google.com/speed/webp/docs/precompiled" target="_blank">Install webp</a>, <a href="http://imagen.online-convert.com/es/convertir-a-webp" target="_blank">Online convert</a></p>

				<p>from PNG</p>
				<!-- //10A// -->
				<p class="webp-bg"><img width="372" height="266" src="<%=createImageLink('/images/shoes.png')%>" ></p>

				<p>form JPEG</p>
				<!-- //10B// -->
				<p><img width="900" height="2800" src="<%=createImageLink('/images/big-image.jpg?v1')%>" ></p>

			</article>

			<article>
				<h3>Recursos lazy load</h3>
				<p>Descargamos las imágenes en el document complete. <a href="/lazy">Ejemplo</a></p>
			</article>
			<article class="code_snippet_container">
				<pre>
(function&nbsp;imageLazy(window){
	var&nbsp;isLoadead&nbsp;=&nbsp;(document.readyState&nbsp;===&nbsp;&quot;complete&quot;);
	function&nbsp;lazyImages(){
		var&nbsp;obj;
		$(&quot;img.lazy&quot;).each(function&nbsp;changeSouce(){
			obj=$(this);
	&nbsp;&nbsp;		obj.attr(&quot;src&quot;,obj.attr(&quot;data-src-original&quot;));
	&nbsp;&nbsp;		obj.fadeIn();
	&nbsp;&nbsp;	});
	}
	if&nbsp;(isLoadead)&nbsp;{
		lazyImages();
	} else {
		$(window).load(lazyImages);
	}
})(window);</pre>
			</article>
			<article class="imageWrapper">
				<ul class="items-list">
					<!-- //8//A -->
					<li><img src="<%=createImageLink('/images/item1.jpg')%>" width="200" height="200"></li>
					<li><img src="<%=createImageLink('/images/item2.jpg')%>" width="200" height="200"></li>
					<li><img src="<%=createImageLink('/images/item3.jpg')%>" width="200" height="200"></li>
					<li><img src="<%=createImageLink('/images/item4.jpg')%>" width="200" height="200"></li>
					<li><img src="<%=createImageLink('/images/item5.jpg')%>" width="200" height="200"></li>
					<li><img src="<%=createImageLink('/images/item6.jpg')%>" width="200" height="200"></li>
					<li><img src="<%=createImageLink('/images/item7.jpg')%>" width="200" height="200"></li>
					<li><img src="<%=createImageLink('/images/item8.jpg')%>" width="200" height="200"></li>
					<li><img src="<%=createImageLink('/images/item9.jpg')%>" width="200" height="200"></li>
					<li><img src="<%=createImageLink('/images/item10.jpg')%>" width="200" height="200"></li>
					<li><img src="<%=createImageLink('/images/item11.jpg')%>" width="200" height="200"></li>
					<li><img src="<%=createImageLink('/images/item12.jpg')%>" width="200" height="200"></li>
					<li><img src="<%=createImageLink('/images/item13.jpg')%>" width="200" height="200"></li>
					<li><img src="<%=createImageLink('/images/item14.jpg')%>" width="200" height="200"></li>
					<li><img src="<%=createImageLink('/images/item15.jpg')%>" width="200" height="200"></li>
					<li><img src="<%=createImageLink('/images/item16.jpg')%>" width="200" height="200"></li>
				</ul>
			</article>

			<article class="imageWrapper">
				<h3>Recursos bajo demanda</h3>
				<p>La descarga bajo demanda, evita que se realicen llamados a recursos que el usuario no visualiza. Utilizando los eventos que tenemos disponibles en el objeto window, podemos realizar estos llamados. <a href="/ondemand">Ejemplo</a></p>
				<p>Usando el evento scroll para descargar una imágen.</p>
			</article>
			<article class="code_snippet_container">
				<pre>
(function&nbsp;imageOnDemand(window){
	var&nbsp;isOnTop&nbsp;=&nbsp;$(window).scrollTop()&nbsp;!=&nbsp;0;
	function&nbsp;onScroll(){
		var&nbsp;obj;
		$(&quot;img.scroll&quot;).each(function&nbsp;changeSouce(){
			obj=$(this);
&nbsp;&nbsp;			obj.attr(&quot;src&quot;,obj.attr(&quot;data-src-original&quot;));
&nbsp;&nbsp;			obj.fadeIn();
&nbsp;		&nbsp;});
	}
	if(isOnTop){
		onScroll();
	}else{
		jqueryWindow.one('scroll',&nbsp;onScroll);
	}
})(window);</pre>
			</article>
				<!-- //8//B -->
	  			<img width="900" height="2800" src="<%=createImageLink('/images/big-image-optimized.jpg')%>" >
			</article>
		</section>


		<section id="javascript">
			<h2 class="definicion">Javascript</h2>
			<article>
				<h3>Al final del body</h3>
				<p>El javascript blquea el render, y una forma de evitarlo es moviendo los llamados al final del body.</p>
			</article>
			<article class="code_snippet_container">
				<pre rel="HTML" class="prettyprint snippet03">
		&lt;script&nbsp;src=&quot;chico-jquery.js&quot;&gt;&lt;/script&gt;
		&lt;script&nbsp;src=&quot;my-app.js&quot;&gt;&lt;/script&gt;

	&lt;/body&gt;

&lt;/html&gt;</pre>
			</article>
			<article>
				<h3>Ejecución asincrónica</h3>
				<p>Cargando el javascript asincrónicamente, podemos tener un mejor control de los llamados.</p>
			</article>
			<article class="code_snippet_container">
				<pre>
&lt;script&gt;
	(function()&nbsp;{
		var&nbsp;ga&nbsp;=&nbsp;document.createElement('script');
		&nbsp;&nbsp;&nbsp;&nbsp;ga.type&nbsp;=&nbsp;'text/javascript';
		&nbsp;&nbsp;&nbsp;&nbsp;ga.async&nbsp;=&nbsp;true;
		&nbsp;&nbsp;&nbsp;&nbsp;ga.src&nbsp;=&nbsp;'jquery-1.10.2.js';
		var&nbsp;s&nbsp;=&nbsp;document.getElementsByTagName('script')[0];
		&nbsp;&nbsp;&nbsp;&nbsp;s.parentNode.insertBefore(ga,&nbsp;s);
	})();
&lt;/script&gt;</pre>
			</article>
			<article>
				<h3>Ejecución onload</h3>
				<p>Cargando el javscript en el onload y usando callbacks para las dependendencias.</p>
			</article>
			<article class="code_snippet_container">
				<pre>
&lt;script&gt;
	/*&nbsp;src.js&nbsp;0B&nbsp;0.1.4&nbsp;-&nbsp;14/10/2011&nbsp;-&nbsp;Little&nbsp;tiny&nbsp;loader&nbsp;for&nbsp;javascript&nbsp;sources.&nbsp;*/(function(a){window.src={js:function(o,h){if(typeof&nbsp;o===&quot;string&quot;){o=[o]}var&nbsp;j,k,m,l,f,g,d;j=a.getElementsByTagName(&quot;script&quot;)[0];k={t:o.length,i:0};k.r=function(){return&nbsp;k.t===k.i};m=function(){k.i+=1;if(h&amp;&amp;k.r()){h()}};l=(function(){if(j.readyState){return&nbsp;function(b){b.onreadystatechange=function(){if(b.readyState===&quot;loaded&quot;||b.readyState===&quot;complete&quot;){b.onreadystatechange=null;m()}}}}else{return&nbsp;function(b){b.onload=function(){m()}}}}());f=0;g=a.createElement(&quot;script&quot;);for(f;f&lt;k.t;f+=1){d=g.cloneNode(true);l(d);d.src=o[f];j.parentNode.insertBefore(d,j)}}}}(document));
&lt;/script&gt;
	
&lt;script&gt;
	window.onload&nbsp;=&nbsp;(function(){
		src.js(['jquery-1.10.2.js'],&nbsp;function()&nbsp;{
			src.js(['app.js']);
		});
	});
&lt;/script&gt;</pre>
			</article>
			<article>
				<h3>Librerias</h3>
				<p>Si queremos compartir cache podemos usar algunas librerias como <a href="https://github.com/pablomoretti/jcors-loader">jcors-loader</a>, <a href="http://labjs.com/">LABSjs</a>, <a href="http://yepnopejs.com/">yepnope.js</a>.</p>
			</article>
			<article class="code_snippet_container">
				<pre>
&lt;script&gt;
	&lt;!-- jcors-loader --&gt;
	(function(e){function&nbsp;l(){for(var&nbsp;b=!0,a,c=h,d=f.length;c&lt;d&amp;&amp;b;)if(a=f[c],void&nbsp;0!==a&amp;&amp;null!==a){if(&quot;string&quot;===typeof&nbsp;a){var&nbsp;g=m.cloneNode(!1);g.text=a;i.parentNode.insertBefore(g,i)}else&nbsp;a.apply(e);h=c+1;f[c]=null;c+=1}else&nbsp;b=!1}function&nbsp;g(){if(f.length){var&nbsp;b=f.pop(),a;&quot;string&quot;===typeof&nbsp;b?(a=m.cloneNode(!0),a.type=&quot;text/javascript&quot;,a.async=!0,a.src=b,a.onload=a.onreadystatechange=function(){if(!a.readyState||/loaded|complete/.test(a.readyState))a.onload=a.onreadystatechange=null,a=void&nbsp;0,g()},i.parentNode.insertBefore(a,i)):(b.apply(e),g())}}function&nbsp;p(b,a){return&nbsp;function(){f[a]=b.responseText;l();b=void&nbsp;0}}function&nbsp;q(){var&nbsp;b=arguments.length,a,c;for(a=0;a&lt;b;a+=1)&quot;string&quot;===typeof&nbsp;arguments[a]?(c=j(arguments[a]),c.onload=p(c,a+h),c.send()):(f[a+h]=arguments[a],l())}function&nbsp;r(){f=Array.prototype.slice.call(arguments,0).reverse();g()}var&nbsp;n=e.document,m=n.createElement(&quot;script&quot;),i=n.getElementsByTagName(&quot;script&quot;)[0],f=[],h=0,j,d,k;e.XMLHttpRequest&amp;&amp;(d=new&nbsp;e.XMLHttpRequest,&quot;withCredentials&quot;in&nbsp;d?k=function(b){d=new&nbsp;e.XMLHttpRequest;d.open(&quot;get&quot;,b,!0);return&nbsp;d}:e.XDomainRequest&amp;&amp;(k=function(b){d=new&nbsp;e.XDomainRequest;d.open(&quot;get&quot;,b);return&nbsp;d}));j=k;e.JcorsLoader={load:j?q:r}})(window);
&lt;/script&gt;
&lt;script&gt;
	&nbsp;&nbsp;JcorsLoader.load(
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'jquery-1.10.2.js',&nbsp;
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'jquery.lazyload.js',
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'app.js'
	&nbsp;&nbsp;);
&lt;/script&gt;</pre>
			</article>
			<article>
				<h3>Javscript de terceros <a href="/page">page</a></h3>
				<p>Facebook SDK (Like bottom).</p>
			</article>
			<article class="code_snippet_container">
				<pre>
&lt;script&gt;
	(function()&nbsp;{
		var&nbsp;url&nbsp;=&nbsp;'//connect.facebook.net/en_US/all.js';
		var&nbsp;iframe&nbsp;=&nbsp;document.createElement('iframe');
			(iframe.frameElement&nbsp;||&nbsp;iframe).style.cssText&nbsp;=&nbsp;&quot;width:&nbsp;0;&nbsp;height:&nbsp;0;&nbsp;border:&nbsp;0&quot;;
			iframe.src&nbsp;=&nbsp;&quot;javascript:false&quot;;
			document.getElementById('fb-root').appendChild(iframe);
		var&nbsp;doc&nbsp;=&nbsp;iframe.contentWindow.document;
			doc.open().write('&lt;body&nbsp;onload=&quot;'+
				'window.inDapIF&nbsp;=&nbsp;true;'&nbsp;+
				'var&nbsp;js&nbsp;=&nbsp;document.createElement(\'script\');'+
				'js.src&nbsp;=&nbsp;\''+&nbsp;url&nbsp;+'\';'+
				'document.body.appendChild(js);&quot;&gt;');
			doc.close();
	}());

	//&nbsp;async&nbsp;init&nbsp;once&nbsp;loading&nbsp;is&nbsp;done
	window.fbAsyncInit&nbsp;=&nbsp;function()&nbsp;{
		FB.init({xfbml:&nbsp;true});
	};
&lt;/script&gt;</pre>
			</article>
			<article>
				<p>Ads (internos).</p>
			</article>
			<article class="code_snippet_container">
				<pre>
&lt;script&gt;
	(function(url)&nbsp;{
		var&nbsp;iframe&nbsp;=&nbsp;document.createElement('iframe');
			(iframe.frameElement&nbsp;||&nbsp;iframe).style.cssText&nbsp;=
			&nbsp;&nbsp;&quot;width:&nbsp;0;&nbsp;height:&nbsp;0;&nbsp;border:&nbsp;0;&nbsp;position:&nbsp;absolute&quot;;
			iframe.src&nbsp;=&nbsp;&quot;javascript:false&quot;;
			iframe.id&nbsp;=&nbsp;&quot;ads-init-frame&quot;;
			var&nbsp;where&nbsp;=&nbsp;document.getElementsByTagName('script')[0];
			where.parentNode.insertBefore(iframe,&nbsp;where);
			var&nbsp;doc&nbsp;=&nbsp;iframe.contentWindow.document;
			doc.open().write('&lt;body&nbsp;onload=&quot;'+
			&nbsp;	'var&nbsp;js&nbsp;=&nbsp;document.createElement(\'script\');'+
				'js.src&nbsp;=&nbsp;\''+&nbsp;url&nbsp;+'\';'+
				'document.body.appendChild(js);&quot;&gt;');
			doc.close();
	}(&quot;/static/ads-friendly-iframe.js&quot;));
&lt;/script&gt;</pre>
			</article>

			<article>
				<h3>Precarga de recursos <a href="/page">page</a></h3>
				<p>stylesheets</p>
			</article>
			<article class="code_snippet_container">
				<pre>(function&nbsp;preload(jqueryWindow){<br/><br/>	var&nbsp;isLoadead&nbsp;=&nbsp;(document.readyState&nbsp;===&nbsp;&quot;complete&quot;);<br/><br/><br/>	function&nbsp;preloadResouces(arr)&nbsp;{<br/>	&nbsp;&nbsp;&nbsp;&nbsp;var&nbsp;i&nbsp;=&nbsp;arr.length,<br/>	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;d&nbsp;=&nbsp;document,<br/>	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;b&nbsp;=&nbsp;d.body,<br/>	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;isIE&nbsp;=&nbsp;'fileSize'&nbsp;in&nbsp;document,<br/>	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o;<br/>	&nbsp;&nbsp;&nbsp;&nbsp;while&nbsp;(i--)&nbsp;{<br/>	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if&nbsp;(isIE)&nbsp;{<br/>	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;new&nbsp;Image().src&nbsp;=&nbsp;arr[i];<br/>	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;continue;<br/>	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}<br/>			o&nbsp;=&nbsp;d.createElement('object');<br/>	&nbsp;&nbsp;&nbsp;&nbsp;	o.data&nbsp;=&nbsp;arr[i];<br/>	&nbsp;&nbsp;&nbsp;&nbsp;	o.width&nbsp;=&nbsp;o.height&nbsp;=&nbsp;0;<br/>	&nbsp;&nbsp;&nbsp;&nbsp;	o.style.position&nbsp;=&nbsp;&quot;absolute&quot;;<br/>	&nbsp;&nbsp;&nbsp;&nbsp;	b.appendChild(o);<br/>	&nbsp;&nbsp;&nbsp;&nbsp;}<br/>	}<br/><br/>	function&nbsp;init(){<br/>		//preloadResouces([prefech]);<br/>	}<br/><br/>	if&nbsp;(isLoadead)&nbsp;{<br/>		init();<br/>	}else{<br/>		jqueryWindow.load(init);<br/>	}<br/>	<br/>})(locaJqueryWindow);
				</pre>
			</article>

		</section>
		<script type="text/javascript">
		var prefech = '<%=createStaticLink('/stylesheets/page.css')%>';
		</script>


	</div>
  </body>
</html>
