<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7 ie6" lang="es"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie10 lt-ie9 lt-ie8 ie7" lang="es"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie10 lt-ie9 ie8" lang="es"> <![endif]-->
<!--[if IE 9]>    <html class="no-js lt-ie10 ie9" lang="es"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="es"> <!--<![endif]-->
<head>
	<title><%= title %></title>

	<!-- //3// -->

	<link rel='stylesheet' href='<%=createStaticLink('/stylesheets/chico-0.13.4.css')%>'/>
	<link rel='stylesheet' href='<%=createStaticLink('/stylesheets/local.css')%>' />
	<link rel='stylesheet' href='<%=createStaticLink('/stylesheets/app.css')%>' />
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">



	<script src='<%=createStaticLink('/javascripts/jquery-1.10.2.js')%>' ></script>
	<script src='<%=createStaticLink('/javascripts/jquery.lazyload.js')%>' ></script>
	<script src='<%=createStaticLink('/javascripts/jquery.prettify.js')%>' ></script>
	<script src='<%=createStaticLink('/javascripts/app.js')%>' ></script>
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?lang=css&skin=sons-of-obsidian"></script>

</head>
<body>
	  
	<header>
		<h1><%= title %></h1>
		<ul>
			<!--li class="navSection"><a href="#server">Server</a></li>
			<li class="navSection"><a href="#images">Imagenes</a></li>
			<li class="navSection"><a href="#javascript">Javascript</a></li-->
			<!-- <li class="navSection"><a href="#navEjemplos">Ejemplos</a></li> -->
		</ul>
	</header>

	<div class="wraperBody">
		<section class="performance-pannel">
			<h4>Time to first byte</h4>
			<p>0.867ms</p>
			<h4>DOMContentLoaded</h4>
			<p>1.23ms</p>
			<h4>Onload</h4>
			<p>4.867ms</p>
		</section>
		
		<section id="server">

			<h2 class="definicion">Configurando el server</h2>
			<article>
				<h3>Activar GZIP</h3>
	  			<p>
	  				Es un tipo de <strong>compresión HTTP</strong>, que nos permite reducir el ancho de banda y las velocidades de respuesta.<br>
	  				Cuando tengamos gzip activado, el server responderá <strong>Content-encoding: gzip</strong> en el header de respuesta.
	  			</p>
			</article>
			<article>
				<h3>Cache de recursos estáticos</h3>
	  			<p>
	  				Reducimos el pedido de recursos, que son modificados con poca frecuencia. Estos recursos serán <strong>guardados en el browser o el proxy</strong>.
	  				Deberíamos cachear CSS, JS, HTML estático, Imágenes, Flash?, PDF, Media Files. 
	  			</p>
			</article>
			<article>
				<h3>Unificar y minificar archivos estáticos</h3>
	  			<p>
	  				Unificando los archivos vamos a <strong>reducir la cantidad de request</strong> que estamos enviando. Minificando los archivos <strong>reducimos la cantidad de bytes</strong> que enviamos a treves de la red, permitiendonos acelerar los tiempos de descarga.
	  			</p>
			</article>
			<article>
				<h3>Cookieless domain</h3>
	  			<p>
	  				Para el contenido estático debemos evitar que los recursos sean servidos por el mismo dominio en el cual seteamos nuestras cookies. <strong>Las imágenes, CSS y JS no necesitan ser acompañados por cookies</strong>.
	  			</p>
			</article>
			<article>
				<h3>Descargas en paralelo</h3>
	  			<p>
	  				Utilizar múltiples dominios para la descarga de recursos, nos permite <strong>acelerar los tiempos de respuesta</strong> de nuestra aplicación. La utilizaremos principalmente para la descarga de imágenes en paralelo. 
	  			</p>
			</article>

		</section>

		<section id="images">
			<h2 class="definicion">Imágenes</h2>

			<!-- //6// --> <!-- //7// -->
			<article class="imageWrapper">
				<h3>Optimización PNG</h3>
				<p>Comprimiendo nuestros PNG24 podemos reducir el peso en un 80% </p>
	  			<p><img src="<%=createImageLink('/images/products.png')%>" /></p>
	  			<!-- <img src="<%=createImageLink('/images/products-optimized.png')%>" /> -->
			</article>
			<article class="imageWrapper">
				<h3>Progressive JPEG</h3>
				<p>WIP</p>
			</article>
			<article class="imageWrapper">
				<h3>WEBP</h3>
				<p>WIP</p>
			</article>
			<!-- //8//A -->
			<article>
				<h3>Recursos lazy load</h3>
				<p>Descargamos las imágenes en el document complete.</p>
			</article>
			<article class="code_snippet_container">
				<pre rel="HTML" class="prettyprint snippet03">
(function&nbsp;imageLazy(window){
	var&nbsp;isLoadead&nbsp;=&nbsp;(document.readyState&nbsp;===&nbsp;&quot;complete&quot;);
	function&nbsp;lazyImages(){
		var&nbsp;obj;
		$(&quot;img.lazy&quot;).each(function&nbsp;changeSouce(){
			obj=$(this);
	&nbsp;&nbsp;		obj.attr(&quot;src&quot;,obj.attr(&quot;data-src-original&quot;));
	&nbsp;&nbsp;		obj.fadeIn();
	&nbsp;&nbsp;	});
	}
	if&nbsp;(isLoadead)&nbsp;{
		lazyImages();
	} else {
		$(window).load(lazyImages);
	}
})(window);</pre>
			</article>
			<article class="imageWrapper">
				<ul class="items-list">
					<!-- <li><img src="<%=createImageLink('/images/item1.jpg')%>" width="200" height="200"></li>
					<li><img src="<%=createImageLink('/images/item2.jpg')%>" width="200" height="200"></li>
					<li><img src="<%=createImageLink('/images/item3.jpg')%>" width="200" height="200"></li>
					<li><img src="<%=createImageLink('/images/item4.jpg')%>" width="200" height="200"></li>
					<li><img src="<%=createImageLink('/images/item5.jpg')%>" width="200" height="200"></li>
					<li><img src="<%=createImageLink('/images/item6.jpg')%>" width="200" height="200"></li>
					<li><img src="<%=createImageLink('/images/item7.jpg')%>" width="200" height="200"></li>
					<li><img src="<%=createImageLink('/images/item8.jpg')%>" width="200" height="200"></li>
					<li><img src="<%=createImageLink('/images/item9.jpg')%>" width="200" height="200"></li>
					<li><img src="<%=createImageLink('/images/item10.jpg')%>" width="200" height="200"></li>
					<li><img src="<%=createImageLink('/images/item11.jpg')%>" width="200" height="200"></li>
					<li><img src="<%=createImageLink('/images/item12.jpg')%>" width="200" height="200"></li>
					<li><img src="<%=createImageLink('/images/item13.jpg')%>" width="200" height="200"></li>
					<li><img src="<%=createImageLink('/images/item14.jpg')%>" width="200" height="200"></li>
					<li><img src="<%=createImageLink('/images/item15.jpg')%>" width="200" height="200"></li>
					<li><img src="<%=createImageLink('/images/item16.jpg')%>" width="200" height="200"></li> -->
					
					<li><img class="lazy" src="" data-src-original="<%=createImageLink('/images/item1.jpg')%>" width="200" height="200"></li>
					<li><img class="lazy" src="" data-src-original="<%=createImageLink('/images/item2.jpg')%>" width="200" height="200"></li>
					<li><img class="lazy" src="" data-src-original="<%=createImageLink('/images/item3.jpg')%>" width="200" height="200"></li>
					<li><img class="lazy" src="" data-src-original="<%=createImageLink('/images/item4.jpg')%>" width="200" height="200"></li>
					<li><img class="lazy" src="" data-src-original="<%=createImageLink('/images/item5.jpg')%>" width="200" height="200"></li>
					<li><img class="lazy" src="" data-src-original="<%=createImageLink('/images/item6.jpg')%>" width="200" height="200"></li>
					<li><img class="lazy" src="" data-src-original="<%=createImageLink('/images/item7.jpg')%>" width="200" height="200"></li>
					<li><img class="lazy" src="" data-src-original="<%=createImageLink('/images/item8.jpg')%>" width="200" height="200"></li>
					<li><img class="lazy" src="" data-src-original="<%=createImageLink('/images/item9.jpg')%>" width="200" height="200"></li>
					<li><img class="lazy" src="" data-src-original="<%=createImageLink('/images/item10.jpg')%>" width="200" height="200"></li>
					<li><img class="lazy" src="" data-src-original="<%=createImageLink('/images/item11.jpg')%>" width="200" height="200"></li>
					<li><img class="lazy" src="" data-src-original="<%=createImageLink('/images/item12.jpg')%>" width="200" height="200"></li>
					<li><img class="lazy" src="" data-src-original="<%=createImageLink('/images/item13.jpg')%>" width="200" height="200"></li>
					<li><img class="lazy" src="" data-src-original="<%=createImageLink('/images/item14.jpg')%>" width="200" height="200"></li>
					<li><img class="lazy" src="" data-src-original="<%=createImageLink('/images/item15.jpg')%>" width="200" height="200"></li>
					<li><img class="lazy" src="" data-src-original="<%=createImageLink('/images/item16.jpg')%>" width="200" height="200"></li>
				</ul>
			</article>

			<!-- //8//B -->
			<article class="imageWrapper">
				<h3>Recursos bajo demanda</h3>
				<p>La descarga bajo demanda, evita que se realicen llamados a recursos que el usuario no visualiza. Utilizando los eventos que tenemos disponibles en el objeto window, podemos realizar estos llamados.</p>
				<p>Usando el evento scroll para descargar una imágen.</p>
			</article>
			<article class="code_snippet_container">
				<pre rel="HTML" class="prettyprint snippet03">
(function&nbsp;imageOnDemand(window){
	var&nbsp;isOnTop&nbsp;=&nbsp;$(window).scrollTop()&nbsp;!=&nbsp;0;
	function&nbsp;onScroll(){
		var&nbsp;obj;
		$(&quot;img.scroll&quot;).each(function&nbsp;changeSouce(){
			obj=$(this);
&nbsp;&nbsp;			obj.attr(&quot;src&quot;,obj.attr(&quot;data-src-original&quot;));
&nbsp;&nbsp;			obj.fadeIn();
&nbsp;		&nbsp;});
	}
	if(isOnTop){
		onScroll();
	}else{
		jqueryWindow.one('scroll',&nbsp;onScroll);
	}
})(window);</pre>
			</article>
	  			<!-- <img width="900" height="2800" src="<%=createImageLink('/images/big-image-optimized.jpg')%>" > -->
	  			<img width="900" height="2800" class="scroll" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src-original="<%=createImageLink('/images/big-image-optimized.jpg')%>" >
			</article>


		</section>
		<section id="sprites">
			<h2 class="definicion">Sprites</h2>
			<ul class="sprite-list">
				<li><img src="<%=createImageLink('/images/rocket.png')%>" width="36" height="36"></li>
				<li><img src="<%=createImageLink('/images/spriteIm1.png')%>" width="36" height="36"></li>
				<li><img src="<%=createImageLink('/images/spriteIm2.png')%>" width="36" height="36"></li>
				<li><img src="<%=createImageLink('/images/spriteIm3.png')%>" width="36" height="36"></li>
			</ul>
		</section>
		<section id="iconfonts">
			<h2 class="definicion">Icon Fonts</h2>		
			<ul>
				<li><i class="icon-rocket">&nbsp;Defualt</i></li>
				<li><i class="icon-rocket icon-2x"></i>&nbsp;2X size</li>
				<li><i class="icon-rocket icon-rotate-90">&nbsp;Rotate 90</i></li>
				<li><i class="icon-rocket icon-flip-horizontal">&nbsp;Flips</i></li>
				<li>
					<span class="icon-stack">
					  <i class="icon-rocket"></i>
					  <i class="icon-ban-circle icon-stack-base"></i>
					</span>&nbsp;Icon Stack
				</li>
  
			</ul>			
		</section>
		<section id="datauri">
			<h2 class="definicion">Data:Uri</h2>
			<div class="rockets-data-uri"></div>		
		</section>
		<section id="javascript">
			<h2 class="definicion">Javascript</h2>
		</section>
	</div>
	
	
  </body>
</html>
