<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7 ie6" lang="es"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie10 lt-ie9 lt-ie8 ie7" lang="es"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie10 lt-ie9 ie8" lang="es"> <![endif]-->
<!--[if IE 9]>    <html class="no-js lt-ie10 ie9" lang="es"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="es"> <!--<![endif]-->
<head>
	<title><%= title %></title>

	<!-- //3// -->

	<link rel='stylesheet' href='<%=createStaticLink('/stylesheets/chico-0.13.4.css')%>'/>
	<link rel='stylesheet' href='<%=createStaticLink('/stylesheets/local.css')%>' />
	<link rel='stylesheet' href='<%=createStaticLink('/stylesheets/app.css')%>' />


	<script src='<%=createStaticLink('/javascripts/jquery-1.10.2.js')%>' ></script>
	<script src='<%=createStaticLink('/javascripts/jquery.lazyload.js')%>' ></script>
	<script src='<%=createStaticLink('/javascripts/jquery.prettify.js')%>' ></script>
	<script src='<%=createStaticLink('/javascripts/app.js')%>' ></script>


</head>
<body>
	  
	<header>
		<h1><%= title %></h1>
		<ul>
			<li class="navSection"><a href="#server">Server</a></li>
			<li class="navSection"><a href="#images">Imagenes</a></li>
			<li class="navSection"><a href="#javascript">Javascript</a></li>
			<!-- <li class="navSection"><a href="#navEjemplos">Ejemplos</a></li> -->
		</ul>
	</header>

	<div class="wraperBody">
		
		<section id="server">

			<h2 class="definicion">Configurando el server</h2>
			<article>
				<h3>Activar GZIP</h3>
	  			<p>
	  				Es un tipo de <strong>compresión HTTP</strong>, que nos permite reducir el ancho de banda y las velocidades de respuesta.<br>
	  				Cuando tengamos gzip activado, el server responderá <strong>Content-encoding: gzip</strong> en el header de respuesta.
	  			</p>
			</article>
			<article>
				<h3>Cache de recursos estáticos</h3>
	  			<p>
	  				Reducimos el pedido de recursos, que son modificados con poca frecuencia. Estos recursos serán <strong>guardados en el browser o el proxy</strong>.
	  				Deberíamos cachear CSS, JS, HTML estático, Imágenes, Flash?, PDF, Media Files. 
	  			</p>
			</article>
			<article>
				<h3>Unificar y minificar archivos estáticos</h3>
	  			<p>
	  				Unificando los archivos vamos a <strong>reducir la cantidad de request</strong> que estamos enviando. Minificando los archivos <strong>reducimos la cantidad de bytes</strong> que enviamos a treves de la red, permitiendonos acelerar los tiempos de descarga.
	  			</p>
			</article>
			<article>
				<h3>Cookieless domain</h3>
	  			<p>
	  				Para el contenido estático debemos evitar que los recursos sean servidos por el mismo dominio en el cual seteamos nuestras cookies. <strong>Las imágenes, CSS y JS no necesitan ser acompañados por cookies</strong>.
	  			</p>
			</article>
			<article>
				<h3>Descargas en paralelo</h3>
	  			<p>
	  				Utilizar múltiples dominios para la descarga de recursos, nos permite <strong>acelerar los tiempos de respuesta</strong> de nuestra aplicación. La utilizaremos principalmente para la descarga de imágenes en paralelo. 
	  			</p>
			</article>

		</section>

		<section id="images">
			<h2 class="definicion">Imágenes</h2>

			<!-- //6// --> <!-- //7// -->
			<article class="imageWrapper">
				<h3>Optimización mejorando la compresión.</h3>
	  			<img src="<%=createImageLink('/images/music-icon.png')%>" /> <br>
			</article>

			<!-- //8//A -->
			<article class="imageWrapper">
				<h3>Recursos lazy load.</h3>
				<ul class="items-list">
					<li><img src="<%=createImageLink('/images/item1.jpg')%>" width="200" height="200"></li>
					<li><img src="<%=createImageLink('/images/item2.jpg')%>" width="200" height="200"></li>
					<li><img src="<%=createImageLink('/images/item3.jpg')%>" width="200" height="200"></li>
					<li><img src="<%=createImageLink('/images/item4.jpg')%>" width="200" height="200"></li>
					<li><img src="<%=createImageLink('/images/item5.jpg')%>" width="200" height="200"></li>
					<li><img src="<%=createImageLink('/images/item6.jpg')%>" width="200" height="200"></li>
					<li><img src="<%=createImageLink('/images/item7.jpg')%>" width="200" height="200"></li>
					<li><img src="<%=createImageLink('/images/item8.jpg')%>" width="200" height="200"></li>
					<li><img src="<%=createImageLink('/images/item9.jpg')%>" width="200" height="200"></li>
					<li><img src="<%=createImageLink('/images/item10.jpg')%>" width="200" height="200"></li>
					<li><img src="<%=createImageLink('/images/item11.jpg')%>" width="200" height="200"></li>
					<li><img src="<%=createImageLink('/images/item12.jpg')%>" width="200" height="200"></li>
					<li><img src="<%=createImageLink('/images/item13.jpg')%>" width="200" height="200"></li>
					<li><img src="<%=createImageLink('/images/item14.jpg')%>" width="200" height="200"></li>
					<li><img src="<%=createImageLink('/images/item15.jpg')%>" width="200" height="200"></li>
					<li><img src="<%=createImageLink('/images/item16.jpg')%>" width="200" height="200"></li>
					
					<!-- <li><img class="lazy" src="" data-src-original="<%=createImageLink('/images/item1.jpg')%>" width="200" height="200"></li>
					<li><img class="lazy" src="" data-src-original="<%=createImageLink('/images/item2.jpg')%>" width="200" height="200"></li>
					<li><img class="lazy" src="" data-src-original="<%=createImageLink('/images/item3.jpg')%>" width="200" height="200"></li>
					<li><img class="lazy" src="" data-src-original="<%=createImageLink('/images/item4.jpg')%>" width="200" height="200"></li>
					<li><img class="lazy" src="" data-src-original="<%=createImageLink('/images/item5.jpg')%>" width="200" height="200"></li>
					<li><img class="lazy" src="" data-src-original="<%=createImageLink('/images/item6.jpg')%>" width="200" height="200"></li>
					<li><img class="lazy" src="" data-src-original="<%=createImageLink('/images/item7.jpg')%>" width="200" height="200"></li>
					<li><img class="lazy" src="" data-src-original="<%=createImageLink('/images/item8.jpg')%>" width="200" height="200"></li>
					<li><img class="lazy" src="" data-src-original="<%=createImageLink('/images/item9.jpg')%>" width="200" height="200"></li>
					<li><img class="lazy" src="" data-src-original="<%=createImageLink('/images/item10.jpg')%>" width="200" height="200"></li>
					<li><img class="lazy" src="" data-src-original="<%=createImageLink('/images/item11.jpg')%>" width="200" height="200"></li>
					<li><img class="lazy" src="" data-src-original="<%=createImageLink('/images/item12.jpg')%>" width="200" height="200"></li>
					<li><img class="lazy" src="" data-src-original="<%=createImageLink('/images/item13.jpg')%>" width="200" height="200"></li>
					<li><img class="lazy" src="" data-src-original="<%=createImageLink('/images/item14.jpg')%>" width="200" height="200"></li>
					<li><img class="lazy" src="" data-src-original="<%=createImageLink('/images/item15.jpg')%>" width="200" height="200"></li>
					<li><img class="lazy" src="" data-src-original="<%=createImageLink('/images/item16.jpg')%>" width="200" height="200"></li> -->
				</ul>
			</article>

			<!-- //8//B -->
			<article class="imageWrapper">
				<h3>Recursos bajo demanda.</h3>
	  			<img width="900" height="2800" src="<%=createImageLink('/images/big-image-optimized.jpg')%>" >
			</article>
		</section>
	</div>  
	
  </body>
</html>