<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7 ie6" lang="es"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie10 lt-ie9 lt-ie8 ie7" lang="es"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie10 lt-ie9 ie8" lang="es"> <![endif]-->
<!--[if IE 9]>    <html class="no-js lt-ie10 ie9" lang="es"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="es"> <!--<![endif]-->
<head>
    <title><%= title %></title>

    <!-- //3// -->

 	<link rel='stylesheet' href='<%=createStaticLink('/stylesheets/chico-0.13.2.css')%>'/>
 	<link rel='stylesheet' href='<%=createStaticLink('/stylesheets/local.css')%>' />
    <link rel='stylesheet' href='<%=createStaticLink('/stylesheets/app.css')%>' />


    <script src='<%=createStaticLink('/javascripts/jquery-1.10.2.js')%>' ></script>
    <script src='<%=createStaticLink('/javascripts/jquery.lazyload.js')%>' ></script>
    <script src='<%=createStaticLink('/javascripts/app.js')%>' ></script>




  

  </head>
  <body>
	  <h1><%= title %></h1>



	  <a href="/page"> Next Page </a> <br><br>

	  <!-- //6// --> <!-- //7// -->
	  <img src="<%=createImageLink('/images/music-icon.png')%>" /> <br>

	  <img src="<%=createImageLink('/images/item1.jpg')%>" width="90" height="90"><br>
	  <img src="<%=createImageLink('/images/item2.jpg')%>" width="90" height="90"><br>
	  <img src="<%=createImageLink('/images/item3.jpg')%>" width="90" height="90"><br>
	  <img src="<%=createImageLink('/images/item4.jpg')%>" width="90" height="90"><br>
	  <img src="<%=createImageLink('/images/item5.jpg')%>" width="90" height="90"><br>
	  <img src="<%=createImageLink('/images/item6.jpg')%>" width="90" height="90"><br>
	  <img src="<%=createImageLink('/images/item7.jpg')%>" width="90" height="90"><br>
	  <img src="<%=createImageLink('/images/item8.jpg')%>" width="90" height="90"><br>
	  
	  <!-- //8//A -->

	  <img src="<%=createImageLink('/images/item9.jpg')%>" width="90" height="90"><br>
	  <img src="<%=createImageLink('/images/item10.jpg')%>" width="90" height="90"><br>
	  <img src="<%=createImageLink('/images/item11.jpg')%>" width="90" height="90"><br>
	  <img src="<%=createImageLink('/images/item12.jpg')%>" width="90" height="90"><br>
	  <img src="<%=createImageLink('/images/item13.jpg')%>" width="90" height="90"><br>
	  <img src="<%=createImageLink('/images/item14.jpg')%>" width="90" height="90"><br>
	  <img src="<%=createImageLink('/images/item15.jpg')%>" width="90" height="90"><br>
	  <img src="<%=createImageLink('/images/item16.jpg')%>" width="90" height="90"><br>

	  <!-- //8//B -->
	  <img width="900" height="2800" src="<%=createImageLink('/images/big-image-optimized.jpg')%>" >

	 
	

  </body>
</html>